<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask App Form Page</title>
</head>
<body>
    <section>
        <h1>Form</h1>
        <form method="post" name="username_form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <button type="submit">Submit</button>
        </form>
    </section>
    <section>
        <h3 class="name">{{ name }}</h3>
        <ol class="repos">
            {% for repo_name in repos %}
                <li>{{ repo_name }}</li>
            {% endfor %}
        </ol>
    </section>
</body>
</html>